<section class="content">
    <div class="content__inner">
        <header class="content__title">
            <h1>Tickets</h1>

            <div class="actions">
                <a href="" class="actions__item zmdi zmdi-trending-up"></a>
                <a href="" class="actions__item zmdi zmdi-check-all"></a>

                <div class="dropdown actions__item">
                    <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="" class="dropdown-item">Refresh</a>
                    </div>
                </div>
            </div>
        </header>

        <div class="card issue-tracker">
            <div class="toolbar toolbar--inner">
                <div class="toolbar__nav">
                    <a class="active" href="">Opened 25</a>
                    <a href="" class="hidden-sm-down">Responded 30</a>
                    <a href="">Closed 19</a>
                </div>

                <div class="actions">
                    <i class="actions__item zmdi zmdi-search" data-ma-action="toolbar-search-open" data-toggle="tooltip" data-title="Search"></i>

                    <div class="dropdown actions__item hidden-sm-down" data-toggle="tooltip" data-title="Tag">
                        <i class="zmdi zmdi-label-alt-outline" data-toggle="dropdown"></i>

                        <div class="dropdown-menu dropdown-menu-right dropdown-menu--active dropdown-menu--sort">
                            <div class="checkbox">
                                <input type="checkbox" id="cb-tag-1" checked />
                                <label for="cb-tag-1" class="checkbox__label">All</label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="cb-tag-2" />
                                <label for="cb-tag-2" class="checkbox__label">Tag One</label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="cb-tag-3" />
                                <label for="cb-tag-3" class="checkbox__label">Tag Two</label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="cb-tag-4" />
                                <label for="cb-tag-4" class="checkbox__label">Tag Three</label>
                            </div>
                        </div>
                    </div>

                    <div class="dropdown actions__item hidden-sm-down" data-toggle="tooltip" data-title="Severity">
                        <i class="zmdi zmdi-info-outline" data-toggle="dropdown"></i>

                        <div class="dropdown-menu dropdown-menu-right dropdown-menu--active dropdown-menu--sort">
                            <div class="checkbox">
                                <input type="checkbox" id="cb-severity-1" checked />
                                <label for="cb-severity-1" class="checkbox__label">All</label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="cb-severity-2" />
                                <label for="cb-severity-2" class="checkbox__label">Severe</label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="cb-severity-3" />
                                <label for="cb-severity-3" class="checkbox__label">High</label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="cb-severity-4" />
                                <label for="cb-severity-4" class="checkbox__label">Medium</label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="cb-severity-5" />
                                <label for="cb-severity-5" class="checkbox__label">Low</label>
                            </div>
                        </div>
                    </div>

                    <div class="dropdown actions__item hidden-sm-down" data-toggle="tooltip" data-title="Project">
                        <i class="zmdi zmdi-book" data-toggle="dropdown"></i>

                        <div class="dropdown-menu dropdown-menu-right dropdown-menu--active dropdown-menu--sort">
                            <div class="checkbox">
                                <input type="checkbox" id="cb-projects-1" checked />
                                <label for="cb-projects-1" class="checkbox__label">All Projects</label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="cb-projects-2" />
                                <label for="cb-projects-2" class="checkbox__label">Projects 2</label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="cb-projects-3" />
                                <label for="cb-projects-3" class="checkbox__label">Projects 3</label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="cb-projects-4" />
                                <label for="cb-projects-4" class="checkbox__label">Projects 4</label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="cb-projects-5" />
                                <label for="cb-projects-5" class="checkbox__label">Projects 5</label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="cb-projects-6" />
                                <label for="cb-projects-6" class="checkbox__label">Projects 6</label>
                            </div>
                        </div>
                    </div>

                    <div class="dropdown actions__item hidden-sm-down" data-toggle="tooltip" data-title="Assignee">
                        <i class="zmdi zmdi-account-circle" data-toggle="dropdown"></i>

                        <div class="dropdown-menu dropdown-menu-right dropdown-menu--active dropdown-menu--sort">
                            <div class="checkbox">
                                <input type="checkbox" id="cb-assignee-1" checked />
                                <label for="cb-assignee-1" class="checkbox__label">Everyone</label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="cb-assignee-2" />
                                <label for="cb-assignee-2" class="checkbox__label">David Wilson</label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="cb-assignee-3" />
                                <label for="cb-assignee-3" class="checkbox__label">James Frank</label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="cb-assignee-4" />
                                <label for="cb-assignee-4" class="checkbox__label">Natalie Sheth</label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="cb-assignee-5" />
                                <label for="cb-assignee-5" class="checkbox__label">Christian Robu</label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="cb-assignee-6" />
                                <label for="cb-assignee-6" class="checkbox__label">Wins Williamson</label>
                            </div>
                        </div>
                    </div>

                    <div class="dropdown actions__item hidden-sm-down" data-toggle="tooltip" data-title="Sort by">
                        <i class="zmdi zmdi-sort" data-toggle="dropdown"></i>

                        <div class="dropdown-menu dropdown-menu-right dropdown-menu--active dropdown-menu--sort">
                            <div class="checkbox">
                                <input type="checkbox" id="cb-sort-1" checked />
                                <label for="cb-sort-1" class="checkbox__label">Newest</label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="cb-sort-2" />
                                <label for="cb-sort-2" class="checkbox__label">Oldest</label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="cb-sort-3" />
                                <label for="cb-sort-3" class="checkbox__label">Most Commented</label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="cb-sort-4" />
                                <label for="cb-sort-4" class="checkbox__label">Least Commented</label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="cb-sort-5" />
                                <label for="cb-sort-5" class="checkbox__label">Recently Updated</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="toolbar__search">
                    <input type="text" placeholder="Search for issues...">
                    <i class="toolbar__search__close zmdi zmdi-long-arrow-left" data-ma-action="toolbar-search-close"></i>
                </div>
            </div>

            <div class="listview listview--bordered">

                <div class="listview__item">
                    <img src="demo/img/contacts/2.jpg" class="listview__img" alt="">

                    <div class="listview__content text-truncate text-truncate">
                        <a class="listview__heading" href="">Ed porta ut justo vitae volutpat. Aliquam varius tortor non egestas blandit. Fusce in sem lectus</a>
                        <p>#148 Opened 2 Days ago by Louie Holmes  - louieolmes</p>


                        <i class="zmdi zmdi-time"></i>17/11/2017 at 12:33
                    </div>

                    <div class="issue-tracker__item hidden-sm-down">
                        <span class="issue-tracker__tag bg-red">Issue</span>
                    </div>

                    @*<div class="issue-tracker__item hidden-md-down">
                       
                    </div>*@

                    <div class="issue-tracker__item hidden-md-down">
                        <i class="zmdi zmdi-comments"></i> 04
                    </div>

                    <div class="issue-tracker__item actions">
                        <div class="dropdown actions__item">
                            <i class="zmdi zmdi-more-vert" data-toggle="dropdown"></i>

                            <div class="dropdown-menu dropdown-menu-right dropdown-menu--active dropdown-menu--icon">
                                <a href="" class="dropdown-item"><i class="zmdi zmdi-check"></i>Respond</a>
                                <a href="" class="dropdown-item"><i class="zmdi zmdi-close"></i>Close</a>
                                <a href="" class="dropdown-item"><i class="zmdi zmdi-edit"></i>Edit</a>
                                <a href="" class="dropdown-item"><i class="zmdi zmdi-delete"></i>Delete</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="listview__item">
                    <img src="demo/img/contacts/3.jpg" class="listview__img" alt="">

                    <div class="listview__content text-truncate">
                        <a class="listview__heading" href="">Dulla vel metus scelerisque ante sollicitudin commodo purus odio</a>
                        <p>#132 Opened Yesterday by Joseph Hamilton - louieolmes</p>
                        <i class="zmdi zmdi-time"></i>17/11/2017 at 12:33
                    </div>

                    <div class="issue-tracker__item hidden-sm-down">
                        <span class="issue-tracker__tag bg-blue">Suggestion</span>
                    </div>

                    <div class="issue-tracker__item hidden-md-down">
                        @*<i class="zmdi zmdi-time"></i>19/11/2017 at 09:01*@
                    </div>

                    <div class="issue-tracker__item hidden-md-down">
                        <i class="zmdi zmdi-comments"></i> 23
                    </div>

                    <div class="issue-tracker__item actions">
                        <div class="dropdown actions__item">
                            <i class="zmdi zmdi-more-vert" data-toggle="dropdown"></i>

                            <div class="dropdown-menu dropdown-menu-right dropdown-menu--active dropdown-menu--icon">
                                <a href="" class="dropdown-item"><i class="zmdi zmdi-check"></i>Respond</a>
                                <a href="" class="dropdown-item"><i class="zmdi zmdi-close"></i>Close</a>
                                <a href="" class="dropdown-item"><i class="zmdi zmdi-edit"></i>Edit</a>
                                <a href="" class="dropdown-item"><i class="zmdi zmdi-delete"></i>Delete</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="listview__item">
                    <i class="avatar-char bg-amber">K</i>

                    <div class="listview__content text-truncate">
                        <a class="listview__heading" href="">Nunc dictum tortor nec orci tempor vehicula. Curabitur bibendum non dolor vel hendrerit.</a>
                        <p>#130 Opened on 10/11/2017 by Kason Sawyer - louieolmes</p>
                        <i class="zmdi zmdi-time"></i>17/11/2017 at 12:33
                    </div>

                    <div class="issue-tracker__item hidden-sm-down">
                        <span class="issue-tracker__tag bg-green">Optimization</span>
                    </div>

                    <div class="issue-tracker__item hidden-md-down">
                        @*<i class="zmdi zmdi-time"></i>10/11/2017 at 15:13*@
                    </div>

                    <div class="issue-tracker__item hidden-md-down">
                        <i class="zmdi zmdi-comments"></i> 01
                    </div>

                    <div class="issue-tracker__item actions">
                        <div class="dropdown actions__item">
                            <i class="zmdi zmdi-more-vert" data-toggle="dropdown"></i>

                            <div class="dropdown-menu dropdown-menu-right dropdown-menu--active dropdown-menu--icon">
                                <a href="" class="dropdown-item"><i class="zmdi zmdi-check"></i>Respond</a>
                                <a href="" class="dropdown-item"><i class="zmdi zmdi-close"></i>Close</a>
                                <a href="" class="dropdown-item"><i class="zmdi zmdi-edit"></i>Edit</a>
                                <a href="" class="dropdown-item"><i class="zmdi zmdi-delete"></i>Delete</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="listview__item">
                    <i class="avatar-char bg-light-blue">T</i>

                    <div class="listview__content text-truncate">
                        <a class="listview__heading" href="">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos</a>
                        <p>#129 Opened on 05/11/2017 by Theodore Cotton - louieolmes</p>
                        <i class="zmdi zmdi-time"></i>17/11/2017 at 12:33
                    </div>

                    <div class="issue-tracker__item hidden-sm-down">
                        <span class="issue-tracker__tag bg-red">Issue</span>
                    </div>

                    <div class="issue-tracker__item hidden-md-down">
                        @*<i class="zmdi zmdi-time"></i>05/11/2017 at 19:00*@
                    </div>

                    <div class="issue-tracker__item hidden-md-down">
                        <i class="zmdi zmdi-comments"></i> 04
                    </div>

                    <div class="issue-tracker__item actions">
                        <div class="dropdown actions__item">
                            <i class="zmdi zmdi-more-vert" data-toggle="dropdown"></i>

                            <div class="dropdown-menu dropdown-menu-right dropdown-menu--active dropdown-menu--icon">
                                <a href="" class="dropdown-item"><i class="zmdi zmdi-check"></i>Respond</a>
                                <a href="" class="dropdown-item"><i class="zmdi zmdi-close"></i>Close</a>
                                <a href="" class="dropdown-item"><i class="zmdi zmdi-edit"></i>Edit</a>
                                <a href="" class="dropdown-item"><i class="zmdi zmdi-delete"></i>Delete</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="listview__item">
                    <img src="demo/img/contacts/1.jpg" class="listview__img" alt="">

                    <div class="listview__content text-truncate">
                        <a class="listview__heading" href="">Suspendisse aliquet dapibus ornare.</a>
                        <p>#128 Opened on 22/10/2017 Days ago by Gary Schneider - louieolmes</p>
                        <i class="zmdi zmdi-time"></i>17/11/2017 at 12:33
                    </div>

                    <div class="issue-tracker__item hidden-sm-down">
                        <span class="issue-tracker__tag bg-red">Issue</span>
                    </div>

                    <div class="issue-tracker__item hidden-md-down">
                        @*<i class="zmdi zmdi-time"></i>22/10/2017 at 01:54*@
                    </div>

                    <div class="issue-tracker__item hidden-md-down">
                        <i class="zmdi zmdi-comments"></i> 00
                    </div>

                    <div class="issue-tracker__item actions">
                        <div class="dropdown actions__item">
                            <i class="zmdi zmdi-more-vert" data-toggle="dropdown"></i>

                            <div class="dropdown-menu dropdown-menu-right dropdown-menu--active dropdown-menu--icon">
                                <a href="" class="dropdown-item"><i class="zmdi zmdi-check"></i>Respond</a>
                                <a href="" class="dropdown-item"><i class="zmdi zmdi-close"></i>Close</a>
                                <a href="" class="dropdown-item"><i class="zmdi zmdi-edit"></i>Edit</a>
                                <a href="" class="dropdown-item"><i class="zmdi zmdi-delete"></i>Delete</a>
                            </div>
                        </div>
                    </div>
                </div>

                @*<div class="listview__item">
                    <i class="avatar-char bg-light-green">J</i>

                    <div class="listview__content text-truncate">
                        <a class="listview__heading" href="">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos</a>
                        <p>#125 Opened on 12/09/2017 by Jonathan Kelly</p>
                    </div>

                    <div class="issue-tracker__item hidden-sm-down">
                        <span class="issue-tracker__tag bg-orange">Discussion</span>
                    </div>

                    <div class="issue-tracker__item hidden-md-down">
                        <i class="zmdi zmdi-time"></i>12/09/2017 at 22:59
                    </div>

                    <div class="issue-tracker__item hidden-md-down">
                        <i class="zmdi zmdi-comments"></i> 18
                    </div>

                    <div class="issue-tracker__item actions">
                        <div class="dropdown actions__item">
                            <i class="zmdi zmdi-more-vert" data-toggle="dropdown"></i>

                            <div class="dropdown-menu dropdown-menu-right dropdown-menu--active dropdown-menu--icon">
                                <a href="" class="dropdown-item"><i class="zmdi zmdi-check"></i>Respond</a>
                                <a href="" class="dropdown-item"><i class="zmdi zmdi-close"></i>Close</a>
                                <a href="" class="dropdown-item"><i class="zmdi zmdi-edit"></i>Edit</a>
                                <a href="" class="dropdown-item"><i class="zmdi zmdi-delete"></i>Delete</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="listview__item">
                    <img src="demo/img/contacts/5.jpg" class="listview__img" alt="">

                    <div class="listview__content text-truncate">
                        <a class="listview__heading" href="">Maecenas accumsan risus et enim tincidunt</a>
                        <p>#124 Opened on 12/09/2017 by Samuel Doyle</p>
                    </div>

                    <div class="issue-tracker__item hidden-sm-down">
                        <span class="issue-tracker__tag bg-green">Optimization</span>
                    </div>

                    <div class="issue-tracker__item hidden-md-down">
                        <i class="zmdi zmdi-time"></i>12/09/2017 at 02:50
                    </div>

                    <div class="issue-tracker__item hidden-md-down">
                        <i class="zmdi zmdi-comments"></i> 02
                    </div>

                    <div class="issue-tracker__item actions">
                        <div class="dropdown actions__item">
                            <i class="zmdi zmdi-more-vert" data-toggle="dropdown"></i>

                            <div class="dropdown-menu dropdown-menu-right dropdown-menu--active dropdown-menu--icon">
                                <a href="" class="dropdown-item"><i class="zmdi zmdi-check"></i>Respond</a>
                                <a href="" class="dropdown-item"><i class="zmdi zmdi-close"></i>Close</a>
                                <a href="" class="dropdown-item"><i class="zmdi zmdi-edit"></i>Edit</a>
                                <a href="" class="dropdown-item"><i class="zmdi zmdi-delete"></i>Delete</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="listview__item">
                    <img src="demo/img/contacts/6.jpg" class="listview__img" alt="">

                    <div class="listview__content text-truncate">
                        <a class="listview__heading" href="">Morbi sit amet nunc a nunc venenatis sagittis vitae lacinia dolor</a>
                        <p>#120 Opened on 30/08/2017 by Isaac Francis</p>
                    </div>

                    <div class="issue-tracker__item hidden-sm-down">
                        <span class="issue-tracker__tag bg-cyan">Version 2.0</span>
                    </div>

                    <div class="issue-tracker__item hidden-md-down">
                        <i class="zmdi zmdi-time"></i>30/08/2017 at 01:32
                    </div>

                    <div class="issue-tracker__item hidden-md-down">
                        <i class="zmdi zmdi-comments"></i> 10
                    </div>

                    <div class="issue-tracker__item actions">
                        <div class="dropdown actions__item">
                            <i class="zmdi zmdi-more-vert" data-toggle="dropdown"></i>

                            <div class="dropdown-menu dropdown-menu-right dropdown-menu--active dropdown-menu--icon">
                                <a href="" class="dropdown-item"><i class="zmdi zmdi-check"></i>Respond</a>
                                <a href="" class="dropdown-item"><i class="zmdi zmdi-close"></i>Close</a>
                                <a href="" class="dropdown-item"><i class="zmdi zmdi-edit"></i>Edit</a>
                                <a href="" class="dropdown-item"><i class="zmdi zmdi-delete"></i>Delete</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="listview__item">
                    <img src="demo/img/contacts/7.jpg" class="listview__img" alt="">

                    <div class="listview__content text-truncate">
                        <a class="listview__heading" href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed volutpat quis metus non placerat. Aenean vestibulum, dolor nec tempus consectetur</a>
                        <p>#118 Opened on 10/07/2017 by Anders Gould</p>
                    </div>

                    <div class="issue-tracker__item hidden-sm-down">
                        <span class="issue-tracker__tag bg-orange">Discussion</span>
                    </div>

                    <div class="issue-tracker__item hidden-md-down">
                        <i class="zmdi zmdi-time"></i>10/07/2017 at 01:11
                    </div>

                    <div class="issue-tracker__item hidden-md-down">
                        <i class="zmdi zmdi-comments"></i> 10
                    </div>

                    <div class="issue-tracker__item actions">
                        <div class="dropdown actions__item">
                            <i class="zmdi zmdi-more-vert" data-toggle="dropdown"></i>

                            <div class="dropdown-menu dropdown-menu-right dropdown-menu--active dropdown-menu--icon">
                                <a href="" class="dropdown-item"><i class="zmdi zmdi-check"></i>Respond</a>
                                <a href="" class="dropdown-item"><i class="zmdi zmdi-close"></i>Close</a>
                                <a href="" class="dropdown-item"><i class="zmdi zmdi-edit"></i>Edit</a>
                                <a href="" class="dropdown-item"><i class="zmdi zmdi-delete"></i>Delete</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="listview__item">
                    <i class="avatar-char bg-pink">L</i>

                    <div class="listview__content text-truncate">
                        <a class="listview__heading" href="">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos</a>
                        <p>#100 Opened on 01/07/2017 by Leo Macdonald</p>
                    </div>

                    <div class="issue-tracker__item hidden-sm-down">
                        <span class="issue-tracker__tag bg-indigo">Future</span>
                    </div>

                    <div class="issue-tracker__item hidden-md-down">
                        <i class="zmdi zmdi-time"></i>10/07/2017 at 01:11
                    </div>

                    <div class="issue-tracker__item hidden-md-down">
                        <i class="zmdi zmdi-comments"></i> 10
                    </div>

                    <div class="issue-tracker__item actions">
                        <div class="dropdown actions__item">
                            <i class="zmdi zmdi-more-vert" data-toggle="dropdown"></i>

                            <div class="dropdown-menu dropdown-menu-right dropdown-menu--active dropdown-menu--icon">
                                <a href="" class="dropdown-item"><i class="zmdi zmdi-check"></i>Respond</a>
                                <a href="" class="dropdown-item"><i class="zmdi zmdi-close"></i>Close</a>
                                <a href="" class="dropdown-item"><i class="zmdi zmdi-edit"></i>Edit</a>
                                <a href="" class="dropdown-item"><i class="zmdi zmdi-delete"></i>Delete</a>
                            </div>
                        </div>
                    </div>
                </div>*@

                <div class="clearfix m-4"></div>
            </div>
        </div>

        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item pagination-first"><a class="page-link" href="#"></a></li>
                <li class="page-item pagination-prev"><a class="page-link" href="#"></a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">6</a></li>
                <li class="page-item pagination-next"><a class="page-link" href="#"></a></li>
                <li class="page-item pagination-last"><a class="page-link" href="#"></a></li>
            </ul>
        </nav>

        <footer class="footer hidden-xs-down">
            <p>© Ticketing System. All rights reserved.</p>

            <ul class="nav footer__nav">
                <a class="nav-link" href="">Homepage</a>

                <a class="nav-link" href="">Company</a>

                <a class="nav-link" href="">Support</a>

                <a class="nav-link" href="">News</a>

                <a class="nav-link" href="">Contacts</a>
            </ul>
        </footer>
    </div>
</section>