<section class="content">
    <div class="content__inner content__inner--sm">
        <header class="content__title">
            <h1>Raise a Ticket</h1>

            <div class="actions">

                <div class="dropdown actions__item">
                    <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="" class="dropdown-item">Refresh</a>
                       
                    </div>
                </div>
            </div>
        </header>

        <div class="card new-contact">
           

            <div class="card-body">
                <div class="row">



                    <div style="margin-left:30px" class="col-md-6">
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" class="form-control" placeholder="i.e. Issue in Product">
                            <i class="form-group__bar"></i>
                        </div>
                    </div>

                </div>
                @*<div class="form-group">
            <label>Issue</label>
            <textarea class="form-control textarea-autosize"></textarea>
            <i class="form-group__bar"></i>
        </div>*@
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Issue</h4>
                        <h6 class="card-subtitle">Please let us know</h6>

                        <div class="wysiwyg-editor"></div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Drag and drop file upload</h4>
                        <h6 class="card-subtitle">DropzoneJS is an open source library that provides drag’n’drop file uploads with image previews.</h6>

                        <form class="dropzone" id="dropzone-upload"></form>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="mt-5 text-center">
                    <a href="" class="btn btn-primary">Submit</a>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer hidden-xs-down">
        <p>© Ticketing System. All rights reserved.</p>

        <ul class="nav footer__nav">
            <a class="nav-link" href="">Homepage</a>

            <a class="nav-link" href="">Company</a>

            <a class="nav-link" href="">Support</a>

            <a class="nav-link" href="">News</a>

            <a class="nav-link" href="">Contacts</a>
        </ul>
    </footer>
</section>