@model IEnumerable<Tickets>
@{ Layout = "_Layout"; ViewBag.Title = "All Tickets";}

<section class="content">
    <header class="content__title">

        <div class="actions">
            <a href="" class="actions__item zmdi zmdi-trending-up"></a>
            <a href="" class="actions__item zmdi zmdi-check-all"></a>

            <div class="dropdown actions__item">
                <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="" class="dropdown-item">Refresh</a>
                </div>
            </div>
        </div>
    </header>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Admin - Tickets</h4>
            <div class="card">
                <div class="card-body">

                    <div class="flot-chart flot-pie"></div>
                    <div class="flot-chart-legends flot-chart-legend--pie"></div>
                </div>
            </div>
            <div class="table-responsive">
                <table id="data-table" class="table table-bordered">
                    <thead class="thead-default">
                        <tr>
                            <th>Ticket Id</th>
                            <th>Title</th>
                            <th>Descriptions</th>
                            <th>Status</th>
                            <th>Created Date</th>
                        </tr>
                    </thead>
                    <!--<tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Start date</th>
                        <th>-->
                    @*Salary*@
                    <!--</th>
                        </tr>
                    </tfoot>-->
                <tbody>
                    @foreach (var r in Model)
                    {
                    <tr>
                        <td>@r.ticketID</td>
                        <td>@r.title</td>
                        <td>@r.tDescriptions</td>
                        @if (r.status_id == 1)
                        {
                            <td>Open</td>
                        }
                        else
                         {
                            <td>Close</td>
                         }

                        <td>@r.created_at</td>
                    </tr>
                    }
                    @*<tr>
                        <td>Tiger Nixon</td>
                        <td>System Architect</td>
                        <td>Edinburgh</td>
                        <td>Closed</td>
                        <td>2011/04/25</td>
                    </tr>
                    <tr>
                        <td>Garrett Winters</td>
                        <td>Accountant</td>
                        <td>Tokyo</td>
                        <td>Closed</td>
                        <td>2011/07/25</td>
                    </tr>
                    <tr>
                        <td>Ashton Cox</td>
                        <td>Junior Technical Author</td>
                        <td>San Francisco</td>
                        <td>Closed</td>
                        <td>2009/01/12</td>
                    </tr>
                    <tr>
                        <td>Cedric Kelly</td>
                        <td>Senior Javascript Developer</td>
                        <td>Edinburgh</td>
                        <td>Closed</td>
                        <td>2012/03/29</td>
                    </tr>
                    <tr>
                        <td>Airi Satou</td>
                        <td>Accountant</td>
                        <td>Tokyo</td>
                        <td>Closed</td>
                        <td>2008/11/28</td>
                    </tr>*@


                </tbody>
                </table>
            </div>
        </div>
    </div>

    <footer class="footer hidden-xs-down">
        <p>© Ticketing System. All rights reserved.</p>

        <ul class="nav footer__nav">
            <a class="nav-link" href="">Homepage</a>

            <a class="nav-link" href="">Company</a>

            <a class="nav-link" href="">Support</a>

            <a class="nav-link" href="">News</a>

            <a class="nav-link" href="">Contacts</a>
        </ul>
    </footer>
</section>